html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

/* Structure */
.container {
	max-width: 1200px;
	margin: 0 auto;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.landing-column {
	display: flex;
	flex-direction: column;
	min-height: 95vh;
	align-items: center;
}

.column {
	flex-basis: 100%;
	margin: 5px 0;
}

#name {
	margin-top: auto;
}

#links {
	margin-bottom: auto;
	text-align: center;
	width: 25%;
}

footer {
	padding: 10px 10px;
	text-align: center;
	font-size: 0.85em;
	color: whitesmoke;
	background-color: #303030;
}

/* Styling */
body {
	font-family: 'Quattrocento', serif;
	/*background-color: lightgray; */
}

a {
	color: black;
}

a:hover {
	color: darkslategray;
}

#landing {
	background-color: lightgray;
}

#about {
	background-color: whitesmoke;
}

.topic {
	/*justify-content: space-around;*/
	flex-basis: 50%;
}

article {
	padding: 10px 10px;
}

footer a {
	color: whitesmoke;
}

footer a:hover {
	color: lightgray;
}

#nu {
	color: rgb(078, 042, 132);
}

/* Larger screens */
@media screen and (min-width: 800px) {
	.column {
		flex: 1;
	}

/*	#links > .row {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}*/
}